---
Name: HTMLEditor
---

Sunnysideup\CleanerTinyMCEConfig\Forms\HTMLEditorFieldShort:
  config_class: 'YourOwnClass'
  default_config_name: 'myothercms'

Sunnysideup\CleanerTinyMCEConfig\Forms\HTMLEditorFieldShort_Config:
  number_of_rows: 3

#first reset the array
SilverStripe\Forms\HTMLEditor\TinyMCEConfig:
  editor_css: null

#then set our desired files
SilverStripe\Forms\HTMLEditor\TinyMCEConfig:
  editor_css:
    - 'themes/base/dist/editor.css'
    - 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700'

Sunnysideup\CleanerTinyMCEConfig\Config\HTMLEditorConfigOptions:
  remove_options:
    - basicbutton
  editor_configs:
    cms:
      remove_buttons:
          - alignjustify
          - indent
          - outdent
      add_buttons:
          2:
          - fullscreen
      blocks:
          p: Paragraph
          h1: Heading 1
          h2: Heading 2
          h3: Heading 3
          h4: Heading 4
          h5: Heading 5
          h6: Heading 6
          blockquote: quote

    inline:
      disabled_plugins:
          - table
      blocks:
          span: span
      charmap_append: true
      lines:
          1:
          - bold
          - italic
          - underline
          - '|'
          - blocks
          - styles
          - removeformat
          2:
          - sslink
          - unlink
          - pastetext
          - charmap
          - code
          - fullscreen

    paragraphs:
      based_on: inline
      blocks:
          p: paragraph

    heading:
      based_on: inline
      blocks:
          h2: heading

    basic:
      charmap_append: true
      blocks:
          h2: heading 2
          h3: heading 3
          p: paragraph
          blockquote: quote
      lines:
          1:
          - paste
          - pastetext
          - '|'
          - ssmedia
          - ssembed
          - '|'
          - sslink
          - unlink
          - anchor
          - '|'
          - charmap
          - '|'
          - code
          - fullscreen
          2:
          - removeformat
          - blocks
          - styles
          - '|'
          - bold
          - italic
          - underline
          - '|'
          - bullist
          - numlist

    basicbutton:
      based_on: basic
      options:
          style_formats:
            title: Button-Link
            attributes:
                class: tiny-mce-button
            selector: a
