---
Name: HTMLEditor
---

Sunnysideup\CleanerTinyMCEConfig\Forms\HTMLEditorFieldShort:
  config_class: 'YourOwnClass'
  default_config_name: 'myothercms'

Sunnysideup\CleanerTinyMCEConfig\Forms\HTMLEditorFieldShort_Config:
  number_of_rows: 3

#first reset the array
SilverStripe\Forms\HTMLEditor\TinyMCEConfig:
  editor_css: null

#then set our desired files
SilverStripe\Forms\HTMLEditor\TinyMCEConfig:
  editor_css:
    - 'themes/base/css/editor.css'
    - 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700'
